.layout-page {
    background: #f2f2f2;
}

.app-content {
    margin: 6rem 2rem 2rem;
    min-height: calc(100vh - 12rem);
    overflow: auto;
    background: linear-gradient(275deg, #c9b5d6 0%, #d9cce6 100%) !important;
    // padding: 3rem 1rem;
    // background: #ffffffe4;
    // border-radius: 2px;
}

.app-footer {
    position: sticky !important;
}

.app-sidenav {
    .MuiDrawer-paper {
        width: inherit;
        background: linear-gradient(275deg, #a469db 0%, #F3EFFF 100%) !important;  //changing sidebar colour 
        overflow-x: hidden !important; 
        // background-image: url("../../assets/images/back4.jpg");
        // background-size: cover;
    }

    .app-title {
        text-align: center;
        color: #212a55;
        padding: 5px;
        box-shadow: 2px 1px 1px 1px #c26e6e;
        font-size: 18px;
    }

    .MuiCollapse-vertical>.MuiList-root>.MuiButtonBase-root {
        padding-left: 20px !important;
    }

}

#account-menu>.MuiPaper-root {
    min-width: 145px !important;
    padding: 5px;
    margin-right: 10px;
}
